[submodule "Jobby-App-react"]
	path = Jobby-App-react
	url = https://github.com/seyoonPuvi/Jobby-App-react.git
[submodule "NXT-Trends-Ecom"]
	path = NXT-Trends-Ecom
	url = https://github.com/seyoonPuvi/NXT-Trends-Ecom.git
[submodule "VK-NXT-Watch"]
	path = VK-NXT-Watch
	url = https://github.com/seyoonPuvi/VK-NXT-Watch.git
[submodule "vk-meme-generator"]
	path = vk-meme-generator
	url = https://github.com/seyoonPuvi/vk-meme-generator.git
[submodule "CSS-gradient-Generator"]
	path = CSS-gradient-Generator
	url = https://github.com/seyoonPuvi/CSS-gradient-Generator.git
[submodule "RPS-GAME"]
	path = RPS-GAME
	url = https://github.com/seyoonPuvi/RPS-GAME.git
[submodule "insta-share"]
	path = insta-share
	url = https://github.com/seyoonPuvi/insta-share.git
[submodule "Netflix-Gemini"]
	path = Netflix-Gemini
	url = https://github.com/seyoonPuvi/Netflix-Gemini.git
